- name: Generator for AsyncAPI documents
  uses: asyncapi/github-action-for-generator@v2.0.0
  with:
    # Template for the generator. Official templates are listed here https://github.com/search?q=topic%3Aasyncapi+topic%3Agenerator+topic%3Atemplate. You can pass template as npm package, url to git repository, link to tar file or local template.
    template: '@asyncapi/markdown-template@0.10.0'
    # Location of the AsyncAPI document.
    filepath: events.yml
